{
  "openapi": "3.1.0",
  "info": {
    "title": "shipmail API",
    "description": "API-first email provider for creators, freelancers, and businesses of all sizes.",
    "version": "0.1.0",
    "contact": {
      "name": "shipmail",
      "url": "https://shipmail.to"
    }
  },
  "servers": [
    {
      "url": "https://shipmail.to/api/v1",
      "description": "Production"
    }
  ],
  "paths": {
    "/calendar/events": {
      "get": {
        "operationId": "listCalendarEvents",
        "summary": "List calendar events",
        "description": "List events in a time range for one mailbox's calendar. Set expand=true to return recurring events as individual instances.",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "read",
        "x-scope": "calendar:read",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "expand",
            "in": "query",
            "description": "Expand recurring events into individual instances.",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "calendar_id",
            "in": "query",
            "description": "Restrict to a single calendar.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "limit",
            "in": "query",
            "description": "Items per page (1-250, default 100).",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of calendar events.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CalendarEvent"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createCalendarEvent",
        "summary": "Create a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "write",
        "x-scope": "calendar:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateCalendarEventRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Calendar event created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/calendar/events/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Calendar event ID.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getCalendarEvent",
        "summary": "Get a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "read",
        "x-scope": "calendar:read",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Calendar event object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateCalendarEvent",
        "summary": "Update a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "write",
        "x-scope": "calendar:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateCalendarEventRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated calendar event.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarEvent"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteCalendarEvent",
        "summary": "Delete a calendar event",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "write",
        "x-scope": "calendar:write",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "Calendar event deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/calendar/availability": {
      "get": {
        "operationId": "getCalendarAvailability",
        "summary": "Get open availability",
        "description": "Compute open meeting slots for one mailbox from its own calendar. Derived app-side (not a cross-user free/busy lookup).",
        "tags": ["Calendar"],
        "x-rate-limit-tier": "read",
        "x-scope": "calendar:read",
        "parameters": [
          {
            "name": "mailbox",
            "in": "query",
            "required": true,
            "description": "The mailbox (calendar owner) address.",
            "schema": {
              "type": "string",
              "format": "email"
            }
          },
          {
            "name": "from",
            "in": "query",
            "required": true,
            "description": "Start of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "description": "End of the range (UTC instant).",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "duration",
            "in": "query",
            "description": "Meeting length in minutes (default 30).",
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 480,
              "default": 30
            }
          },
          {
            "name": "interval",
            "in": "query",
            "description": "Step between candidate slot starts in minutes (default = duration).",
            "schema": {
              "type": "integer",
              "minimum": 5,
              "maximum": 480
            }
          },
          {
            "name": "timezone",
            "in": "query",
            "description": "IANA time zone the working window is defined in (default Etc/UTC).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "days",
            "in": "query",
            "description": "Comma-separated weekdays offered, 0=Sunday .. 6=Saturday (default 1,2,3,4,5).",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "window_start",
            "in": "query",
            "description": "Start of the daily window, minutes from midnight (default 540).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1440
            }
          },
          {
            "name": "window_end",
            "in": "query",
            "description": "End of the daily window, minutes from midnight (default 1020).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 1440
            }
          },
          {
            "name": "buffer",
            "in": "query",
            "description": "Padding around busy intervals in minutes (default 0).",
            "schema": {
              "type": "integer",
              "minimum": 0,
              "maximum": 240
            }
          },
          {
            "name": "minimum_notice",
            "in": "query",
            "description": "Minimum notice before the first slot in minutes (default 0).",
            "schema": {
              "type": "integer",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Open availability slots.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CalendarAvailability"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/automations": {
      "get": {
        "operationId": "listAutomations",
        "summary": "List automations",
        "description": "List up to 100 most recently updated automations owned by the API key creator and fully visible through the key's mailbox constraints.",
        "tags": ["Automations"],
        "x-rate-limit-tier": "read",
        "x-scope": "automations:read",
        "responses": {
          "200": {
            "description": "List of automations.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Automation"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createAutomation",
        "summary": "Create an automation",
        "description": "Create and atomically activate an automation from an explicit reviewed definition.",
        "tags": ["Automations"],
        "x-rate-limit-tier": "write",
        "x-scope": "automations:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAutomationRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Automation created and activated.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/automations/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Automation ID.",
          "schema": {
            "type": "string",
            "pattern": "^aaut_[0-9a-z]{24}$"
          }
        }
      ],
      "get": {
        "operationId": "getAutomation",
        "summary": "Get an automation",
        "tags": ["Automations"],
        "x-rate-limit-tier": "read",
        "x-scope": "automations:read",
        "responses": {
          "200": {
            "description": "Automation object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateAutomation",
        "summary": "Update an automation",
        "description": "Change the name, definition, or status. Definition changes create and atomically activate a new immutable version.",
        "tags": ["Automations"],
        "x-rate-limit-tier": "write",
        "x-scope": "automations:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutomationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated automation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Automation"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/automations/{id}/run": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Manual automation ID.",
          "schema": {
            "type": "string",
            "pattern": "^aaut_[0-9a-z]{24}$"
          }
        }
      ],
      "post": {
        "operationId": "runAutomation",
        "summary": "Run a manual automation",
        "description": "Queue one run of an active manual automation.",
        "tags": ["Automations"],
        "x-rate-limit-tier": "write",
        "x-scope": "automations:write",
        "responses": {
          "202": {
            "description": "Automation run queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AutomationRun"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/booking-pages": {
      "get": {
        "operationId": "listBookingPages",
        "summary": "List booking pages",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "read",
        "x-scope": "booking_pages:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of booking pages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/BookingPage"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createBookingPage",
        "summary": "Create a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "write",
        "x-scope": "booking_pages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateBookingPageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Booking page created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/booking-pages/{id}": {
      "parameters": [
        {
          "name": "id",
          "in": "path",
          "required": true,
          "description": "Booking page ID.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "getBookingPage",
        "summary": "Get a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "read",
        "x-scope": "booking_pages:read",
        "responses": {
          "200": {
            "description": "Booking page object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateBookingPage",
        "summary": "Update a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "write",
        "x-scope": "booking_pages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateBookingPageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated booking page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BookingPage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteBookingPage",
        "summary": "Delete a booking page",
        "tags": ["Booking Pages"],
        "x-rate-limit-tier": "write",
        "x-scope": "booking_pages:write",
        "responses": {
          "204": {
            "description": "Booking page deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/status": {
      "get": {
        "operationId": "getStatus",
        "summary": "Get API status",
        "description": "Public health check endpoint. No authentication required.",
        "tags": ["Status"],
        "security": [],
        "responses": {
          "200": {
            "description": "API status returned. The status field is maintenance during a planned maintenance window.",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "no-store"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/capabilities": {
      "get": {
        "operationId": "getCapabilities",
        "summary": "Get effective API and MCP capabilities",
        "description": "Return the authenticated API key's effective scopes, resource constraints, MCP tool catalog, transactional recipient budget, undo hold, and capability contract version.",
        "tags": ["Capabilities"],
        "x-rate-limit-tier": "read",
        "x-scope": "authenticated",
        "responses": {
          "200": {
            "description": "Effective capabilities returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CapabilitiesResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DelegatedOrganizationId"
        }
      ],
      "post": {
        "operationId": "createDomain",
        "summary": "Create a domain",
        "description": "Add a custom domain to your account. After creation, configure DNS records and verify.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "get": {
        "operationId": "listDomains",
        "summary": "List domains",
        "description": "List all domains in your account with cursor-based pagination.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "read",
        "x-scope": "domains:read",
        "parameters": [
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of domains.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Domain"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getDomain",
        "summary": "Get a domain",
        "tags": ["Domains"],
        "x-rate-limit-tier": "read",
        "x-scope": "domains:read",
        "responses": {
          "200": {
            "description": "Domain object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateDomain",
        "summary": "Update a domain",
        "description": "Update domain settings such as the catch-all mailbox. Catch-all may target any active mailbox in the same organization, including one on another domain.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDomainRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated domain.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteDomain",
        "summary": "Delete a domain",
        "description": "Permanently delete a domain and all associated mailboxes.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "responses": {
          "204": {
            "description": "Domain deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/{id}/verification": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "verifyDomain",
        "summary": "Verify domain DNS records",
        "description": "Check DNS records for the domain and update verification status. Rate limited to 1 request per minute. For automated setups, subscribe to the domain.verified webhook event instead of polling this endpoint.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "verification",
        "x-scope": "domains:write",
        "responses": {
          "200": {
            "description": "Verification result.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VerificationResult"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/{id}/dns-records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getDomainDnsRecords",
        "summary": "Get domain DNS records",
        "description": "Return all DNS records required by Shipmail and run a live, read-only DNS check. This endpoint does not update the domain's persisted verification state.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "verification",
        "x-scope": "domains:read",
        "responses": {
          "200": {
            "description": "Required DNS records with live diagnostics.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DomainDnsRecordSet"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/search": {
      "post": {
        "operationId": "searchDomains",
        "summary": "Search available domains",
        "description": "Search for available domain names to register. Returns availability and pricing information.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "read",
        "x-scope": "domains:read",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["keyword"],
                "properties": {
                  "keyword": {
                    "type": "string",
                    "description": "Keyword to search for available domains."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Search results.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["results"],
                  "properties": {
                    "results": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DomainSearchResult"
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/domains/register": {
      "post": {
        "operationId": "registerDomain",
        "summary": "Register a domain",
        "description": "Register a new domain through shipmail. Charges the saved payment method and returns the created Domain object. Requires an active subscription.",
        "tags": ["Domains"],
        "x-rate-limit-tier": "write",
        "x-scope": "domains:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["name", "contact"],
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Domain name to register (e.g. example.com)."
                  },
                  "years": {
                    "type": "integer",
                    "minimum": 1,
                    "maximum": 10,
                    "default": 1,
                    "description": "Number of years to register for. Defaults to 1."
                  },
                  "contact": {
                    "$ref": "#/components/schemas/RegistrationContact"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain registered, DNS configured, and ready for mailboxes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Domain"
                }
              }
            }
          },
          "402": {
            "description": "Payment failed or no payment method on file.",
            "$ref": "#/components/responses/ValidationError"
          },
          "403": {
            "description": "Active subscription required to register domains.",
            "$ref": "#/components/responses/AuthorizationError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/DelegatedOrganizationId"
        }
      ],
      "post": {
        "operationId": "createMailbox",
        "summary": "Create a mailbox",
        "description": "Create a new mailbox on a verified domain.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mailbox created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "get": {
        "operationId": "listMailboxes",
        "summary": "List mailboxes",
        "description": "List mailboxes with optional domain filter and cursor-based pagination. Use the returned mailbox object's id field as mailbox_id for mailbox-scoped endpoints.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "parameters": [
          {
            "name": "domain_id",
            "in": "query",
            "description": "Filter mailboxes by domain ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of mailboxes.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Mailbox"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMailbox",
        "summary": "Get a mailbox",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateMailbox",
        "summary": "Update a mailbox",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMailbox",
        "summary": "Delete a mailbox",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "204": {
            "description": "Mailbox deleted."
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/suspend": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "suspendMailbox",
        "summary": "Suspend a mailbox",
        "description": "Add a manual suspension. Authentication, sending, receiving, inbox rules, and Assistant automation execution are blocked. Billing and security suspension reasons remain independent.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "200": {
            "description": "Suspended mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/resume": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "resumeMailbox",
        "summary": "Resume a mailbox",
        "description": "Remove only the manual suspension. Billing, security, organization reputation, and AWS restrictions are not cleared.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "responses": {
          "200": {
            "description": "Mailbox after removing the manual suspension.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/app-passwords": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxAppPasswords",
        "summary": "List mailbox app passwords",
        "description": "List revocable app-password metadata for one mailbox. Secret values are never returned. Delegated partner organization headers are not accepted.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailbox_credentials:read",
        "responses": {
          "200": {
            "description": "Active and recoverable app-password metadata.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["object", "data"],
                  "properties": {
                    "object": {
                      "type": "string",
                      "const": "list"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MailboxAppPassword"
                      }
                    }
                  }
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createMailboxAppPassword",
        "summary": "Create a mailbox app password",
        "description": "Create a revocable IMAP, SMTP, and JMAP credential. A mailbox can have at most five active app passwords. The secret is returned once in the 201 response and is never stored by Shipmail. Expiration defaults to 90 days and cannot exceed one year. Idempotency-Key is rejected because replaying a cached plaintext secret would violate the one-time-secret guarantee.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailbox_credentials:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxAppPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "App password created. Save the secret now.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreatedMailboxAppPassword"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/app-passwords/{app_password_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "app_password_id",
          "in": "path",
          "required": true,
          "description": "Mailbox app-password ID.",
          "schema": {
            "type": "string",
            "pattern": "^appwd_[0-9a-z]+$"
          }
        }
      ],
      "delete": {
        "operationId": "revokeMailboxAppPassword",
        "summary": "Revoke a mailbox app password",
        "description": "Permanently revoke one app password. The connected client loses access immediately.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailbox_credentials:write",
        "responses": {
          "204": {
            "description": "App password revoked."
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/exports": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "createMailboxExport",
        "summary": "Create a mailbox export",
        "description": "Queue a fail-closed ZIP snapshot of one mailbox. Archived mailboxes reuse their exact current billing snapshot without restoring the mailbox. Poll the returned export until completed.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:export",
        "responses": {
          "200": {
            "description": "Existing active export returned.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "201": {
            "description": "Completed export created by reusing a compatible archived snapshot.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "202": {
            "description": "Mailbox export queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/exports/{export_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "export_id",
          "in": "path",
          "required": true,
          "description": "Mailbox export ID.",
          "schema": {
            "type": "string",
            "pattern": "^mbexp_[0-9a-z]{24}$"
          }
        }
      ],
      "get": {
        "operationId": "getMailboxExport",
        "summary": "Get a mailbox export",
        "description": "Read one customer mailbox export. Completed exports include a private download URL valid for at most five minutes and never beyond the seven-day export expiry.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:export",
        "responses": {
          "200": {
            "description": "Mailbox export status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxExport"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/auto-reply": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "patch": {
        "operationId": "updateAutoReply",
        "summary": "Update auto-reply settings",
        "description": "Configure auto-reply (vacation/out-of-office) for a mailbox. When enabled, incoming emails receive an automatic response.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateAutoReplyRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/delivery-routing": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMailboxDeliveryRouting",
        "summary": "Get mailbox delivery routing",
        "description": "Read how new conversations sent to this mailbox's primary address are delivered. Alias, plus-alias, and catch-all recipients remain dedicated to the addressed identity and bypass this routing.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox delivery routing and eligible destination mailboxes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxDeliveryRouting"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "patch": {
        "operationId": "updateMailboxDeliveryRouting",
        "summary": "Update mailbox delivery routing",
        "description": "Choose whether new primary-address conversations stay in this mailbox, go to one mailbox, or rotate among mailboxes. Fixed and round-robin routing require an explicit fallback mailbox; the source mailbox may also be a normal destination. A destination that is out of office is skipped for new selections; existing conversation affinity is preserved.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxDeliveryRoutingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox delivery routing. Pending routes become active after the mail routing cache has synchronized.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxDeliveryRouting"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/spam-filter": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "patch": {
        "operationId": "updateSpamFilter",
        "summary": "Update spam filter threshold",
        "description": "Set the mailbox spam filter threshold. Lower values are stricter; messages at or above the threshold are moved to junk.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateSpamFilterRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/password": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "patch": {
        "operationId": "resetMailboxPassword",
        "summary": "Reset mailbox password",
        "description": "Reset the login password for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailboxes:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResetMailboxPasswordRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Mailbox"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/folders": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxFolders",
        "summary": "List mailbox folders",
        "description": "List system and custom folders for a mailbox, including unread and total counts.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox folders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxFolders"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createMailboxFolder",
        "summary": "Create mailbox folder",
        "description": "Create a custom folder or subfolder for a mailbox. System folder names are reserved.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxFolderRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Mailbox folder created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxFolder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/folders/{folder_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "$ref": "#/components/parameters/FolderId"
        }
      ],
      "patch": {
        "operationId": "updateMailboxFolder",
        "summary": "Rename mailbox folder",
        "description": "Rename a custom mailbox folder. System folders cannot be renamed.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxFolderRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mailbox folder renamed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxFolder"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "delete": {
        "operationId": "deleteMailboxFolder",
        "summary": "Delete mailbox folder",
        "description": "Delete a custom mailbox folder and its subfolders after moving their messages to Trash. Folders referenced by rules must be removed from rules first.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "responses": {
          "204": {
            "description": "Mailbox folder deleted."
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/identities": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxIdentities",
        "summary": "List mailbox identities",
        "description": "List JMAP sending identities for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailboxes:read",
        "responses": {
          "200": {
            "description": "Mailbox identities.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxIdentities"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/rules": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMailboxRules",
        "summary": "Get mailbox rules",
        "description": "Fetch deterministic server-side inbox rules and available target folders for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailbox_rules:read",
        "responses": {
          "200": {
            "description": "Mailbox rules and folder options.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxRules"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "put": {
        "operationId": "updateMailboxRules",
        "summary": "Replace mailbox rules",
        "description": "Replace all deterministic server-side inbox rules for a mailbox. Call GET first to preserve rules that should remain and inspect folder IDs.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailbox_rules:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateMailboxRulesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated mailbox rules.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxRules"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/forwarding": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "listMailboxForwarding",
        "summary": "List mailbox forwarding destinations",
        "description": "List pending and active forwarding destinations for a mailbox.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "read",
        "x-scope": "mailbox_forwarding:read",
        "responses": {
          "200": {
            "description": "Mailbox forwarding destinations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxForwardingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "createMailboxForwarding",
        "summary": "Add a mailbox forwarding destination",
        "description": "Send a confirmation email to a forwarding destination. Forwarding becomes active only after the recipient confirms. Active forwarding keeps a copy in the Shipmail mailbox and excludes messages classified as spam. Repeating this request for a pending destination sends a new confirmation link.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailbox_forwarding:write",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateMailboxForwardingRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Forwarding destination created, refreshed, or already active.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MailboxForwarding"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/forwarding/{forwarding_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        },
        {
          "name": "forwarding_id",
          "in": "path",
          "required": true,
          "description": "Forwarding destination ID.",
          "schema": {
            "type": "string",
            "pattern": "^fwd_[0-9a-z]{24}$"
          }
        }
      ],
      "delete": {
        "operationId": "deleteMailboxForwarding",
        "summary": "Remove a mailbox forwarding destination",
        "description": "Remove a pending or active forwarding destination. Active delivery is removed from the mail server before the record is deleted.",
        "tags": ["Mailboxes"],
        "x-rate-limit-tier": "write",
        "x-scope": "mailbox_forwarding:write",
        "responses": {
          "204": {
            "description": "Forwarding destination removed."
          },
          "401": {
            "$ref": "#/components/responses/AuthenticationError"
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/sandbox/inbound": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "injectSandboxInbound",
        "summary": "Inject a sandbox inbound message",
        "description": "Create a fake inbound message in isolated sandbox storage. This endpoint requires a test API key. It runs the normal inbound threading, rule, and webhook pipeline without delivering mail to any supplied address.",
        "tags": ["Mailboxes", "Messages"],
        "x-rate-limit-tier": "write",
        "x-scope": "messages:write",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InjectSandboxInboundRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Sandbox inbound message created.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/mailboxes/{id}/staged-attachments": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "stageMailboxAttachment",
        "summary": "Stage a message attachment",
        "description": "Upload raw attachment bytes for later use by send or scheduled-message update. The returned ID is bound to this API key, organization, and mailbox, and expires after 24 hours.",
        "tags": ["Mailboxes", "Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "filename",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 256
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/octet-stream": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 26214400
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment staged.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StagedAttachment"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "413": {
            "$ref": "#/components/responses/ValidationError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/mailboxes/{id}/staged-attachment-upload-tokens": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "prepareStagedAttachmentUpload",
        "summary": "Prepare a one-time attachment upload",
        "description": "Create a five-minute, single-use upload URL bound to this API key, organization, mailbox, filename, content type, byte size, and SHA-256 digest. Idempotency-Key is forbidden because the response contains a one-time URL.",
        "tags": ["Mailboxes", "Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PrepareStagedAttachmentUploadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "One-time upload prepared.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StagedAttachmentUpload"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/staged-attachment-uploads/{token}": {
      "parameters": [
        {
          "name": "token",
          "in": "path",
          "required": true,
          "description": "Short-lived signed upload token contained in the prepared upload URL.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "post": {
        "operationId": "consumeStagedAttachmentUpload",
        "summary": "Upload bytes through a prepared URL",
        "description": "Upload the exact raw bytes declared by a prepared upload. This endpoint uses the signed URL instead of API-key authentication, accepts no source URL, and returns no redirect. The token is consumed after one successful upload.",
        "tags": ["Messages"],
        "security": [],
        "x-rate-limit-tier": "send",
        "x-scope": "public",
        "requestBody": {
          "required": true,
          "content": {
            "*/*": {
              "schema": {
                "type": "string",
                "format": "binary",
                "maxLength": 26214400
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Attachment staged and upload token consumed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/StagedAttachment"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "413": {
            "$ref": "#/components/responses/ValidationError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/messages": {
      "get": {
        "operationId": "listMessages",
        "summary": "List messages",
        "description": "List messages with cursor-based pagination. Provide mailbox_id, client_reference, or both. client_reference lookup is exact and organization-scoped.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "query",
            "required": false,
            "description": "Filter messages by mailbox ID. Use the id field returned by GET /mailboxes.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "client_reference",
            "in": "query",
            "required": false,
            "description": "Exact caller-defined reference. At least one of mailbox_id or client_reference is required.",
            "schema": {
              "$ref": "#/components/schemas/ClientReference"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      },
      "post": {
        "operationId": "sendMessage",
        "summary": "Send a message",
        "description": "Send an email from a mailbox. Provide from (email address) or mailbox_id to identify the sender. Prefer from when you know the mailbox email address; Shipmail resolves it to a mailbox ID. At least one of html or text is required. Total recipients (to + cc + bcc) must not exceed 50. Attachments are base64-encoded, max 20 files, 3 MB per file, 3 MB total.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SendMessageRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message queued for delivery.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/messages/analytics": {
      "get": {
        "operationId": "listMessageAnalytics",
        "summary": "List message analytics",
        "description": "List an organization-wide, analytics-safe message projection in stable ascending (updated_at, id) order. The first page is bounded by updated_before, which cannot be later than the server's current time, or by the server's current time when omitted; subsequent pages retain that snapshot in the signed cursor. The projection excludes subjects, BCC addresses, headers, free-form metadata, attachment filenames, auto-reply content, and message bodies. contact_addresses contains personal data. client_reference is caller-defined and may contain personal or customer data.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "parameters": [
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "description": "Inclusive lower bound for updated_at. Use the previous completed sync's snapshot_at to begin the next sync.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "description": "Exclusive upper bound for updated_at. Must not be later than the server's current time and defaults to the server time captured for the first page.",
            "schema": {
              "type": "string",
              "format": "date-time"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "A bounded page of analytics-safe messages.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MessageAnalytics"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/MessageAnalyticsPagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/messages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getMessage",
        "summary": "Get a message",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "responses": {
          "200": {
            "description": "Message object.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/messages/{id}/reply": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "replyToMessage",
        "summary": "Reply to a message",
        "description": "Reply to a stored Shipmail message by its msg_ ID. Looks up the message's thread and sends a reply using the same mailbox. JMAP IDs returned by mailbox inbox endpoints must use the mailbox-scoped inbox reply endpoint.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyToThreadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Reply sent.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Message"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/QuotaExceededError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/scheduled-messages": {
      "get": {
        "operationId": "listScheduledMessages",
        "summary": "List scheduled messages",
        "description": "List future scheduled messages. Transient undo holds are omitted unless include_held is true.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "parameters": [
          {
            "name": "include_held",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "maxLength": 200
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Scheduled message list.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessageList"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/scheduled-messages/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getScheduledMessage",
        "summary": "Get a scheduled message",
        "tags": ["Messages"],
        "x-rate-limit-tier": "read",
        "x-scope": "messages:read",
        "responses": {
          "200": {
            "description": "Scheduled message detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessage"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "patch": {
        "operationId": "updateScheduledMessage",
        "summary": "Update a scheduled message",
        "description": "Replace recipients, content, staged attachments, and delivery time before dispatch begins.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateScheduledMessageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated scheduled message.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScheduledMessage"
                }
              }
            }
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      },
      "delete": {
        "operationId": "cancelScheduledMessage",
        "summary": "Cancel a scheduled message",
        "description": "Cancel a scheduled message or undo hold while it remains unclaimed. Delivery cannot be cancelled after dispatch begins.",
        "tags": ["Messages"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "responses": {
          "204": {
            "description": "Scheduled message cancelled."
          },
          "403": {
            "$ref": "#/components/responses/AuthorizationError"
          },
          "404": {
            "$ref": "#/components/responses/NotFoundError"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/threads": {
      "get": {
        "operationId": "listThreads",
        "summary": "List threads",
        "description": "List message threads for a mailbox with cursor-based pagination.",
        "tags": ["Threads"],
        "x-rate-limit-tier": "read",
        "x-scope": "threads:read",
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "query",
            "required": true,
            "description": "Filter threads by mailbox ID.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of thread summaries.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Thread"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/threads/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "get": {
        "operationId": "getThread",
        "summary": "Get thread messages",
        "description": "List all messages in a thread within its mailbox scope with cursor-based pagination.",
        "tags": ["Threads"],
        "x-rate-limit-tier": "read",
        "x-scope": "threads:read",
        "parameters": [
          {
            "name": "mailbox_id",
            "in": "query",
            "required": true,
            "description": "Mailbox that owns the thread. Thread IDs are only unique within a mailbox.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Limit"
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of messages in the thread.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["data", "pagination"],
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Message"
                      }
                    },
                    "pagination": {
                      "$ref": "#/components/schemas/Pagination"
                    }
                  }
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          },
          "429": {
            "$ref": "#/components/responses/RateLimitError"
          }
        }
      }
    },
    "/threads/{id}/reply": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ResourceId"
        }
      ],
      "post": {
        "operationId": "replyToThread",
        "summary": "Reply to a thread",
        "description": "Send a reply within an existing stored thread. mailbox_id is required because thread IDs are only unique within a mailbox. At least one of html or text is required. Total recipients (to + cc) must not exceed 50.",
        "tags": ["Threads"],
        "x-rate-limit-tier": "send",
        "x-scope": "messages:send",
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReplyToStoredThreadRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
[...]
